@model Angkor.O7Web.Interface.Security.Model.LogInViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O7ERP | Administración</title>
    @Html.StyleLink("css/bootstrap.min.css")
    @Html.StyleLink("font-awesome/css/font-awesome.css")
    @Html.StyleLink("css/plugins/chosen/bootstrap-chosen.css")
    @Html.StyleLink("css/animate.css")
    @Html.StyleLink("css/style.css")
</head>

<body class="gray-bg">

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">O7</h1>
        </div>
        <h3>Bienvenido al O7ERP</h3>
        <p>Versión web 1.0</p>
        @using (Html.BeginForm("LogIn", "Authentication", FormMethod.Post, new {@class = "m-t", @role = "form"})) {
            <div class="form-group">
                @Html.TextBoxFor(model => model.Login, new {@class = "form-control", @placeholder = "Usuario", @required = ""})
            </div>
            <div class="input-group form-group">
                @Html.PasswordFor(model => model.Password, new {@class = "form-control", @placeholder = "Contraseña", @required = ""})
                <span class="input-group-addon" id="validate-user" style="cursor: pointer;"><span class="fa fa-angle-right"></span></span>
            </div>
            <div class="form-group" style="text-align: left;">
                @Html.HiddenFor(model => model.CompanyId)
                <select id="Companies" data-placeholder="Elige Compañia" class="chosen-select" disabled="true" tabindex="2"></select>
            </div>
            <div class="form-group" style="text-align: left;">
                @Html.HiddenFor(model => model.BranchId)
                <select id="Branches" data-placeholder="Elige Sucursal" class="chosen-select" disabled="true" tabindex="2"></select>
            </div>
            <button id="Sign" type="submit" class="btn btn-primary block full-width m-b" disabled="true">Ingresar</button>
            <a href="#">
                <small>¿Olvidaste la contraseña?</small>
            </a>
        }
        <p class="m-t">
            <small>Desarrollado por AngkorGroup S.A.C &copy; 2016 - @DateTime.Now.Year</small>
        </p>
    </div>
</div>

<!-- Mainly scripts -->
    @Html.JavaScriptLink("js/jquery-2.1.1.js")
    @Html.JavaScriptLink("js/bootstrap.min.js")
    @Html.JavaScriptLink("js/plugins/chosen/chosen.jquery.js")
    <script type="text/javascript">
        $(document).ready(function () {
            $(".chosen-select").chosen({
                width: "100%",
                "disable_search": true
            });

            $("#validate-user").on("click", function (e) {
                var txtLogin = $("#Login");
                var txtPassword = $("#Password");
                $.ajax({ method: "POST", url: "/Authentication/GetCompanies", data: { login: txtLogin.val(), password: txtPassword.val() } })
                    .done(function (result) {
                        var objResult = jQuery.parseJSON(result);
                        if (!jQuery.isEmptyObject(objResult)) {
                            txtLogin.attr("disabled", true);
                            txtPassword.attr("disabled", true);
                            var sltCompanies = $("#Companies");
                            sltCompanies.append("<option value='0'>Elige Compañia</option>");
                            $.each(objResult, function (index, value) {
                                var descripcion = value.Description;
                                if ($.trim(descripcion).length <= 0)
                                    descripcion = "---";
                                sltCompanies.append("<option value='" + value.Id + "'>" + descripcion + "</option>");
                            });
                            sltCompanies.attr("disabled", false);
                            sltCompanies.children("option[value=0]").hide();
                            sltCompanies.trigger("chosen:updated");
                            $("#validate-user").removeAttr("style");
                            $("#validate-user").off("click");
                        }
                    })
                    .fail(function (result) {
                        console.log(result);
                    });
            });

            $("#Companies").on("change", function (evt, params) {                
                var txtLogin = $("#Login");
                var txtPassword = $("#Password");
                var company = params.selected;
                $.ajax({ method: "POST", url: "/Authentication/GetBranches", data: { login: txtLogin.val(), password: txtPassword.val(), companyId: company } })
                    .done(function (result) {
                        var objResult = jQuery.parseJSON(result);
                        if (!jQuery.isEmptyObject(objResult)) {
                            var sltBranches = $("#Branches");
                            sltBranches.find("option").remove().end().append("<option value='0'>Elige Sucursal</option>");
                            $.each(objResult, function (index, value) {
                                var descripcion = value.Description;
                                if ($.trim(descripcion).length <= 0)
                                    descripcion = "---";
                                sltBranches.append("<option value='" + value.Id + "'>" + descripcion + "</option>");
                            });
                            sltBranches.attr("disabled", false);
                            sltBranches.children("option[value=0]").hide();
                            sltBranches.trigger("chosen:updated");
                            $("#Sign").attr("disabled", true);
                            $("#CompanyId").val(company);
                        }
                    })
                    .fail(function (result) {
                        console.log(result);
                    });
            });

            $("#Branches").on("change", function (evt, params) {
                $("#Sign").attr("disabled", false);
                var branch = params.selected;
                $("#BranchId").val(branch);
            });
        });
    </script>
</body>

</html>