
@{
    ViewBag.Title = "Insertar";
    ViewBag.Section = "Facturación";
    Layout = "~/Views/_Layout.cshtml";
}

@section styles_link {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css" />

    @Html.StyleLink("css/bootstrap.min.css");
    @Html.StyleLink("font-awesome/css/font-awesome.css");
    @Html.StyleLink("css/plugins/iCheck/custom.css");
    @Html.StyleLink("css/plugins/steps/jquery.steps.css");
    @Html.StyleLink("css/animate.css");
    @Html.StyleLink("css/style.css");

    @Html.StyleLink("css/plugins/chosen/bootstrap-chosen.css")
    @Html.StyleLink("css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css")
    <style type="text/css">
        body{
            padding-right: 0 !important;
        }
        .form-separation {
            margin-bottom: 7px;
            margin-top: 7px;
        }

        .form-label-separation {
            margin-bottom: 10px;
            margin-top: 7px;
        }

        .form-separation-extra {
            margin-bottom: 11px;
        }

        .dataTables_filter {
            width: 50%;
            float: right;
            text-align: right;
        }

        .button-separation {
            margin-left: 12px;
            margin-right: 12px;
        }

        .selected {
            background-color: #acbad4 !important;
        }

        .emulate-label {
            border-left: 0 !important;
            border-right: 0 !important;
            border-top: 0 !important;
            background: #eee !important;
        }

        .labe-sum-underline {
            border-bottom: 3px solid #000000 !important;
        }

        .modal-new-width {
            width: 800px !important;
        }

        .tabIcon:before {
            content: "\f192";
            margin-right: 5px;
        }

        .tabIcon {
            padding: 10px 20px !important;
        }
    </style>
}
@section scripts_link {
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>

    @Html.JavaScriptLink("js/jquery-2.1.1.js")
    @Html.JavaScriptLink("js/bootstrap.min.js")
    @Html.JavaScriptLink("js/plugins/metisMenu/jquery.metisMenu.js")
    @Html.JavaScriptLink("js/plugins/slimscroll/jquery.slimscroll.min.js")

    <!-- Custom and plugin javascript -->
    @Html.JavaScriptLink("js/inspinia.js")
    @Html.JavaScriptLink("js/plugins/pace/pace.min.js")

    <!-- Steps -->
    @Html.JavaScriptLink("js/plugins/staps/jquery.steps.min.js")

    <!-- Jquery Validate -->
    @Html.JavaScriptLink("js/plugins/validate/jquery.validate.min.js")

    @Html.JavaScriptLink("js/plugins/dataTables/datatables.min.js")
    @Html.JavaScriptLink("js/plugins/iCheck/icheck.min.js")

    @Html.JavaScriptLink("js/plugins/datapicker/bootstrap-datepicker.js")
    @Html.JavaScriptLink("js/plugins/chosen/chosen.jquery.js")
    @Html.JavaScriptLink("js/plugins/typehead/bootstrap3-typeahead.min.js")

    <script>
        var currentDate = new Date();
        var month = currentDate.getMonth() + 1;
        var day = currentDate.getDate();
        var dateOutput = (month < 10 ? '0' : '') + month + '/' + (day < 10 ? '0' : '') + day + '/' + currentDate.getFullYear();

        $(".currentDateDefault").val(dateOutput);
    </script>
}

@section section_script {

    $("#tableProducts").on('change',function(){
        calculate_total();
    });

    $('#data_1 .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });

    $('#clienteOcasionalCB').on('ifChecked', function(){
        $('#botonBuscarCliente').hide();
        $('#codInput').hide();
        $('#docInput').prop('disabled',false);
        $('#docInput').removeClass('emulate-label');
        $('#codLabel').hide();
        $('#typeInput').hide();
        $('#typeLabel').hide();

        $('#docInput').val('');
        $('#nameInput').val('');
        $('#phoneInput').val('');
        $('#mailInput').val('');
        $('#clientCode').html('');
        $('#dirInput').val("");

        $('#dirInput').removeClass("hidden");
        $('#dirInputSelect').addClass("hidden");
        $('#dirInputSelect').next().addClass("hidden");
    });

    $('#clienteOcasionalCB').on('ifUnchecked', function(){
        $('#botonBuscarCliente').show();
        $('#codInput').show();
        $('#docInput').prop('disabled',true);
        $('#docInput').addClass('emulate-label');
        $('#codLabel').show();
        $('#typeInput').show();
        $('#typeLabel').show();

        $('#dirInput').addClass("hidden");
        $('#dirInputSelect').removeClass("hidden");
        $('#dirInputSelect').next().removeClass("hidden");
    });

    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });

    $("#dirInputSelect").chosen({
        width: "100%",
        disable_search: true
    });

    $("#condVenta").chosen({
        width: "100%",
        disable_search: true
    });

    $("#codFinanciero").chosen({
        width: "100%",
        disable_search: true
    });

    $("#tipoVenta").chosen({
        width: "100%",
        disable_search: true
    });

    $("#vendedor").chosen({
        width: "100%",
        disable_search: true
    });

    $("#formaPago").chosen({
        width: "100%",
        disable_search: true
    });

    $("#lineaNegocio").chosen({
        width: "100%",
        disable_search: true
    });

    $("#invoiceType").chosen({
        width: "100%",
        disable_search: true
    });

    $("#idSerieExterno").chosen({
        width: "100%",
        disable_search: true
    });

    $("#currency").chosen({
        width: "100%",
        disable_search: true
    });

    $("#language").chosen({
        width: "100%",
        disable_search: true
    });

    $("#taxe").chosen({
        width: "100%",
        disable_search: true
    });

    $("#perception").chosen({
        width: "100%",
        disable_search: true
    });
    //ComboBox Tab1

    initialize_combo_ajax("#condVenta","/Finantial/Invoice/GetCondSells");
    initialize_combo_ajax("#tipoVenta","/Finantial/Invoice/GetSellTypes");
    initialize_combo_ajax("#codFinanciero","/Finantial/Invoice/GetFinantialCodes");
    initialize_combo_ajax("#vendedor","/Finantial/Invoice/GetSellers");
    initialize_combo_ajax("#lineaNegocio","/Finantial/Invoice/GetBussinessLine");

    $("#condVenta").change(function(){
        var condition = $(this).val();
        $.ajax({ method: "GET", url: "/Finantial/Invoice/GetPayments", data: {cond_sell: condition} })
            .done(function (result) {
                var jsonResult = jQuery.parseJSON(result);
                //console.log(result);
                //console.log(jsonResult);
                console.log("Actualiza");
                if (!jQuery.isEmptyObject(jsonResult)) {
                        populate_combo_box("#formaPago", jsonResult);
                }
            })
            .fail(function (result) {
                toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
            });       
    });


    //Fin ComboBox Tab1

    //ComboBox Tab2

    initialize_combo_ajax("#invoiceType","/Finantial/Invoice/GetDocumentTypes",false);
    $("#invoiceType").val("");
    $("#invoiceType").trigger("chosen:updated");

    initialize_combo_ajax("#currency","/Finantial/Invoice/GetCurrencies");
    initialize_combo_ajax("#language","/Finantial/Invoice/GetLanguages");
    initialize_combo_ajax("#taxe","/Finantial/Invoice/GetTaxes", false);
    $("#taxe").val("");
    $("#taxe").trigger("chosen:updated");

    $("#taxe").change(function(){
        var selectedVal = $("#taxe option:selected").text();
        var selectedNumber = selectedVal.split(" ").pop();
        $("#taxeNumber").val(selectedNumber.split("%")[0]);
    });

    $("#dirInputSelect").change(function(){
        $("#dirInput").val($("#dirInputSelect option:selected").text());
    });

    $.ajax({ method: "GET", url: "/Finantial/Invoice/GetPerception" })
        .done(function (result) {
            //console.log(result);
            var jsonResult = jQuery.parseJSON(result);

            combo_box = $("#perception");
            $.each(jsonResult, function (index, value) {
                combo_box.append("<option>"+(value.Value/100)+"</option>");
            });
            combo_box.trigger("chosen:updated");
        })
        .fail(function (result) {
            toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
        }); 

    $("#invoiceType").change(function(){
        var invoice = $(this).val();
        $.ajax({ method: "GET", url: "/Finantial/Invoice/GetSeries", data: {doctype: invoice} })
            .done(function (result) {
                //console.log(result);
                var jsonResult = jQuery.parseJSON(result);
                
                combo_box = $("#idSerieExterno");
                combo_box.empty();
                combo_box.trigger("chosen:updated");
                var default_value;
                $.each(jsonResult, function (index, value) {
                    combo_box.append("<option>"+value.Value+"</option>");
                    if(value.Default == "true")
                        default_value = value.Value;
                });
                combo_box.val(default_value);
                combo_box.trigger("chosen:updated");
                
            })
            .fail(function (result) {
                toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
            });        
    });



    //Fin ComboBox Tab2

    //Inicio de data dummy
    var dataClient = {"ClientCode" :"666", "ClientType" :"Natural", "DocumentNumber" : "6688", "ClientPhone" :"442131231", "ClientEmail" :"a@caca.com"};
    var dataClient2 = {"ClientCode" :"6662", "ClientType" :"Natural2", "DocumentNumber" : "6688222", "ClientPhone" :"442131231", "ClientEmail" :"a@caca.com"};

    var dataSetClient = [];
    dataSetClient.push(dataClient);
    dataSetClient.push(dataClient2);

    var dataUnit = {"item":"1","concept":"observacion","desc":"descripcion","price":"8","tax":"18","porc":"5"};
    dataUnit.amount = "<input class='form-control pull-left' style='width: 70%;margin-right: -100px;' type='number' value='' id='item_amount_"+1+"'>";
    dataUnit.comment = "<input class='form-control' value='' id='item_comment_"+1+"'>";
    dataUnit.price = "<input class='form-control pull-left' style='width: 70%;margin-right: -100px;' type='number' id='item_price_"+1+"'>";

    var dataSet = [];
    dataSet.push(dataUnit);

    //Fin de data dummy

    /*var tableProduct = $('#tableProducts').DataTable({
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": false,
        "bInfo": false,
        "bAutoWidth": false,
        "paging": true,
        data: dataSet,
        columns: [
            { title: "Item", data: "item"},
            { title: "Concepto", data: "concept"},
            { title: "Descripcion", data: "desc"},
            { title: "Comentario", data: "comment"},
            { title: "Valor Unitario", data: "price"},
            { title: "Cantidad", data: "amount"},
            { title: "Impuesto", data: "tax"}
        ]
    });*/

    

    var tableClients = $('#seleccionarCliente').DataTable({
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": true,
        "bInfo": false,
        "bAutoWidth": false,
        "searching" : false,
        "paging": true,
        columns: [
            { title: "Cod.", data: "ClientCode"},
            { title: "Nombre", data: "ClientName"},
            { title: "RUC/DNI", data: "DocumentNumber"},
            { title: "Teléfono", data: "ClientPhone"},
            { title: "Email", data: "ClientEmail"}
        ]
    });
    //Tabla de Facturas
    /*var tableSeries = $('#seleccionarSerie').DataTables({
        searching: false,
    });*/

    $('#seleccionarCliente tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            tableClients.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    } );

    $('#botonProductoOk').click( function () {
        var parentRow = $('.selected');
        var hash = {};
        var dataSet = [];
        var itemNum = parentRow.children('td').eq(0).text();
        var concept = parentRow.children('td').eq(1).text();
        var desc = parentRow.children('td').eq(2).text();
        hash.item=itemNum;
        hash.concept=concept;
        hash.desc=desc;
        hash.comment="<input class='form-control' id='item_comment_" + itemNum + "'>";
        hash.price="<input class='form-control pull-left' style='width: 70%;margin-right: -100px;' type='number' id='item_price_"+itemNum+"'>";
        hash.tax="18";
        hash.porc="5";
        hash.amount="<input class='form-control pull-left' style='width: 70%;margin-right: -100px;' type='number' value='' id='item_amount_"+itemNum+"'>";
        dataSet.push(hash);
        tableProduct.rows.add(dataSet).draw(false);
        tableProduct.row('.selected').remove().draw(false);
    });

    var modalProductoTable = $('#agregarProductoTable').DataTable({
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": true,
        "bInfo": false,
        "bAutoWidth": false
    });

    $('#agregarProductoTable tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            modalProductoTable.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    });

    $('#modalClientOk').click( function () {
        var parentRow = $('.selected');
        $("#codInput").val(parentRow.children('td').eq(0).text());
        //$("#typeInput").val(parentRow.children('td').eq(1).text());
        $("#docInput").val(parentRow.children('td').eq(2).text());
        $("#nameInput").val(parentRow.children('td').eq(1).text());
        $("#phoneInput").val(parentRow.children('td').eq(3).text());
        $("#mailInput").val(parentRow.children('td').eq(4).text());
        tableClients.row('.selected').remove().draw( false );
        
        var clientCode = parentRow.children('td').eq(0).text();

        $("#clientCode").html(clientCode);

        $.ajax({ method: "GET", url: "/Finantial/Invoice/GetInvoiceAdresses", data: {clientId: clientCode } })
            .done(function (result) {
                var jsonResult = jQuery.parseJSON(result);
                if (!jQuery.isEmptyObject(jsonResult)) {
                        populate_combo_box("#dirInputSelect", jsonResult);
                        $("#dirInputSelect").val("");
                        $("#dirInputSelect").trigger("chosen:updated");
                }
            })
            .fail(function (result) {
                toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
            });
        //Pedir el codigo (Usuario) segun cada caso para poder actualizar los chosen
        update_chosen_select("#condVenta","0002");
       /* update_chosen_select("#"formaPago);           
        update_chosen_select("#vendedor");
        update_chosen_select("#tipoVenta");
        update_chosen_select("#codFinanciero");      
        update_chosen_select("#lineaNegocio"); */
      
    });

    //Agregar un cliente a la tabla - Step 1
    $('#btnFilter').click(function(){
        var filterContent = $('#filterInput').val();
        //tableClients.clear().rows.add(dataSetClient).draw();
        $.ajax({ method: "GET", url: "/Finantial/Invoice/Get_Clients", data: {filter: filterContent} })
            .done(function (result) {
                //console.log(result);
                var jsonResult = jQuery.parseJSON(result);
                if (!jQuery.isEmptyObject(jsonResult)) {
                    tableClients.clear().rows.add(jsonResult).draw();
                }
            })
            .fail(function (result) {
                toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
            });
    });

    //Function que por request AJAX llena un comboBox
    function initialize_combo_ajax(idSelect, url, async = true){
        $.ajax({ method: "GET", url: url, async: async })
            .done(function (result) {
                var jsonResult = jQuery.parseJSON(result);
                if (!jQuery.isEmptyObject(jsonResult)) {
                        populate_combo_box(idSelect, jsonResult);
                }
            })
            .fail(function (result) {
                toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
            });
    }

    //Function que llena un comboBox
    function populate_combo_box(idCombo, data){
        combo_box = $(idCombo);
        combo_box.empty();
        combo_box.trigger("chosen:updated");
        $.each(data, function (index, value) {
            combo_box.append("<option value='"+value.Value+"'>"+value.Content+"</option>");
        });
        combo_box.trigger("chosen:updated");
    }

    //Function que hace update a un chosen select
    function update_chosen_select(chosenId, value){
        var chosenElement = $(chosenId);
        //chosenElement.attr("disabled", true);
        chosenElement.val(value);
        chosenElement.trigger("chosen:updated");
    }

    function calculate_total(){
        var sellValue = 0.0;
        var totalTax = 0.0;
        var totalPorc = 0.0;
        tableProduct.rows().every(function(rowIdx,tableLoop,rowLoop){
            var curData = this.data();
            var price = $('#item_price_'+curData.item).val();
            var amount = $('#item_amount_'+curData.item).val();
            console.log(price);
            console.log(amount);
            var curSubTotal = price*amount;
            sellValue+=curSubTotal;
            totalTax+=curSubTotal*curData.tax/100;
            console.log(totalTax);
            totalPorc+=curSubTotal*curData.porc/100;
            console.log(totalPorc);
        })
        $('#venta').val(sellValue);
        $('#impuesto').val(totalTax);
        console.log(sellValue+totalTax);
        $('#totalValor').val(sellValue+totalTax);
        $('#percepcionImport').val(totalPorc);
        $('#totalACobrar').val(sellValue+totalTax+totalPorc);
    }


        //--------------------------------------------------------- Inicio modificacion Ale
        var itemNum = 0;

        var tableProduct = $('#tableProducts').DataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": false,
            "bAutoWidth": false,
            columns: [
                { title: "Concepto", data: "concept"},
                { title: "Comentario", data: "comment"},
                { title: "Centro de costos", data: "cost_center"},
                { title: "Impuesto", data: "tax"},
                { title: "Valor Unitario", data: "price"},
                { title: "Cantidad", data: "amount"},
                { title: "Subtotal", data: "subtotal"},
                { title: "", data: "delete"}
            ]
        });

        tableProduct.page.len( 5 ).draw();

        create_dataset();

        $('#botonAgregarProducto').click(function(){
            create_dataset();
        });

        $('#tableProducts tbody').on( 'click', 'a.delete', function () {
            tableProduct
                .row( $(this).parents('tr') )
                .remove()
                .draw();

            calculate_total();
        } );

        function create_dataset(){
            var dataUnit = {"tax":"18","porc":"5"};
            dataUnit.item = itemNum;
            dataUnit.amount = "<input class='form-control pull-left' style='width: 50%;' type='number' value='' id='item_amount_"+itemNum+"'>";
            dataUnit.comment = "<input class='form-control' value='' style='width:100%' id='item_comment_"+itemNum+"'>";
            dataUnit.price = "<input class='form-control pull-left' style='width: 50%;' type='number' id='item_price_"+itemNum+"'>";
            dataUnit.concept = "<input class='form-control' style='width:100%' id='item_concept_"+itemNum+"'>";
            dataUnit.cost_center = "<input class='form-control' value='' style='width:100%' id='item_cost_center_"+itemNum+"'>";
            dataUnit.delete = "<a class='delete text-danger text-center' href='#'><i class='fa fa-trash'></i></a>";
            dataUnit.subtotal = "<p id='item_subtotal_"+itemNum+"'>0</p>";
            dataUnit.tax = "<select class='form-control' id='item_tax_"+itemNum+"'></select>"

            var dataSet = [];
            dataSet.push(dataUnit);

            tableProduct.rows.add(dataSet).draw();

            $('#item_concept_'+itemNum).typeahead({
                source: [
                    {'name': 'Laptop HP XD1232'},
                    {'name': 'Laptop Lenovo SD2343'}
                ]
            });

            $('#item_cost_center_'+itemNum).typeahead({
                source: [
                    {'name': 'Centro de costo 1'},
                    {'name': 'Centro de costo 2'}
                ]
            });

            var selectValues = { "1": "18", "2": "20" };

            for (key in selectValues) {
                $('#item_tax_'+itemNum).append('<option value="' + key + '">' + selectValues[key] + '</option>');
            }

            itemNum++;

        }

        function calculate_total(){
            var sellValue = 0.0;
            var totalTax = 0.0;
            var totalPorc = 0.0;

            tableProduct.rows().every(function(rowIdx,tableLoop,rowLoop){
                var curData = this.data();
                var price = $('#item_price_'+curData.item).val();
                var amount = $('#item_amount_'+curData.item).val();
                var tax =  $('#item_tax_'+curData.item+' :selected').text();

                console.log(tax);

                var curSubTotal = price*amount;

                $('#item_subtotal_'+curData.item).text(curSubTotal);

                sellValue += curSubTotal;
                totalTax += curSubTotal*tax/100;
                totalPorc += curSubTotal*curData.porc/100;
            })

            $('#venta').text(sellValue);
            $('#impuesto').text(totalTax);
            $('#totalValor').text(sellValue+totalTax);
            $('#percepcionImport').text(totalPorc);
            $('#totalACobrar').text(sellValue+totalTax+totalPorc);
        }

        //--------------------------------------------------------- Fin modificacion Ale

}

<h2>InvoiceProcess</h2>


<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li class="active"><a class="fa tabIcon" data-toggle="tab" href="#tab-1" aria-expanded="true">Elección del cliente</a></li>
        <li class=""><a class="fa tabIcon" data-toggle="tab" href="#tab-2" aria-expanded="false">Tipo de Comprobante</a></li>
        <li class=""><a class="fa tabIcon" data-toggle="tab" href="#tab-3" aria-expanded="false">Selección del producto</a></li>
        <li class=""><a class="fa tabIcon" data-toggle="tab" href="#tab-4" aria-expanded="false">Resumen</a></li>
    </ul>
    <form id="form" action="#" class="">
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>
                                    Información del cliente
                                    <button id="botonBuscarCliente" type="button" class="btn btn btn-primary pull-right" data-toggle="modal" data-target="#modalCliente"> <i class="fa fa-search"></i> Buscar</button>
                                </h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label id="clientCode" class="hidden"></label>
                                            <label id="docLabel" class="pull-left form-separation"> DNI/RUC </label>
                                            <input disabled="disabled" type="text" class="form-control emulate-label" id="docInput">
                                            <label class="pull-left form-separation"> Teléfono </label>
                                            <input type="text" class="form-control" id="phoneInput">
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="pull-left form-separation"> Nombre </label>
                                            <input type="text" class="form-control" id="nameInput">
                                            <label class="pull-left form-separation"> Email </label>
                                            <input type="text" class="form-control" id="mailInput">
                                        </div>
                                    </div>
                                    <div class=row>
                                        <div class="col-sm-11">
                                            <label class="pull-left form-separation"> Dirección</label>
                                            <input id="dirInput" class="form-control hidden" type="text"/>
                                            <select class="form-control" id="dirInputSelect"></select>
                                            <label style="margin-top: 30px;margin-bottom: -30px;"> <input id="clienteOcasionalCB" type="checkbox" class="i-checks"> Cliente ocasional </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="col-sm-5">
                                    <label style="left:inherit" class="form-label-separation">Condición de la venta</label>
                                    <select id="condVenta" class="form-control">
                                    </select>
                                    <label style="left:inherit" class="form-label-separation">Forma de pago</label>
                                    <select id="formaPago" class="form-control">
                                    </select>
                                    <label style="left:inherit" class="form-label-separation">Vendedor</label>
                                    <select id="vendedor" class="form-control">
                                    </select>

                                </div>
                                <div class="col-sm-5">
                                    <label style="left:inherit" class="form-label-separation">Tipo de venta</label>
                                    <select id="tipoVenta" class="form-control">
                                    </select>
                                    <label style="left:inherit" class="form-label-separation">Código Financiero</label>
                                    <select id="codFinanciero" class="form-control">
                                    </select>
                                    <label style="left:inherit" class="form-label-separation">Línea de negocio</label>
                                    <select id="lineaNegocio"class="form-control">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <fieldset>
                        <h2>Información documento</h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label style="left:inherit" class="form-label-separation">Tipo de Doc.</label>
                                            <select id="invoiceType" class="form-control">
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <label style="left:inherit" class="form-label-separation">Serie Externo</label>
                                            <select id="idSerieExterno" class="form-control">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div id="data_1" class="col-sm-4">
                                            <label class="pull-left form-separation"> Fecha de Documento </label>
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control currentDateDefault" value="">
                                            </div>
                                        </div>
                                        <div id="data_1" class="col-sm-4">
                                            <label class="pull-left form-separation"> Fecha de vencimiento </label>
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control currentDateDefault" value="">
                                            </div>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label style="left:inherit" class="form-label-separation">Moneda</label>
                                            <select id="currency" class="form-control">
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <label style="left:inherit" class="form-label-separation">Idioma</label>
                                            <select id="language" class="form-control">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label style="left:inherit" class="form-label-separation">Impuesto</label>
                                            <input id="taxeNumber" type="hidden"/>
                                            <select id="taxe" class="form-control">
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <label style="left:inherit" class="form-label-separation">Percepción</label>
                                            <select id="perception" class="form-control">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="text-center">
                                    <label class="pull-left form-separation"> Glosa </label>
                                    <textarea class="form-control" rows="5" id="comment"></textarea>
                                </div>
                                <label style="left:inherit" class="form-label-separation"><input id="donacionCB" type="checkbox" class="i-checks"> Donación</label>
                                <div class="row">
                                    <div class="col-sm-10">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>Buscar Doc. Ref.</label><!--el style="left:inherit" class="form-label-separation">Doc Ref.-->
                                        <button id="botonBuscarSerie" type="button" class="btn btn btn-primary pull-left" data-toggle="modal" data-target="#modalCliente"> <i class="fa fa-search"></i> Buscar</button>
                                    </div>
                                    <div class="col-lg-2">
                                        <label class="pull-left form-separation"> Ser.</label>
                                        <input disabled="disabled" type="text" class="form-control emulate-label pull-right" value="F001" style="padding: 0px 0px 0px 0px;" />
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="pull-left form-separation"> Nro. Int.</label>
                                        <input disabled="disabled" type="text" class="form-control emulate-label" value="53768" />
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="pull-left form-separation"> Nro. Doc. Ref </label>
                                        <input type="text" class="form-control" id="typeInput">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="pull-left form-separation"> Número O/C </label>
                                        <input disabled="disabled" type="text" class="form-control" id="typeInput">
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="pull-left form-separation emulate-label"> Nro guía remisión </label>
                                        <input disabled="disabled" type="text" class="form-control" id="glosaInput">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label style="left:inherit" class="form-label-separation">Trabajador</label>
                                        <div class="input-group m-b">
                                            <span class="input-group-btn">
                                                <button disabled="disabled" id="botonBuscarCliente" type="button" class="btn btn btn-primary pull-left"> <i class="fa fa-search"></i> Buscar</button>
                                            </span> <input disabled="disabled" type="text" class="form-control emulate-label">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div id="tab-3" class="tab-pane">
                <div class="panel-body">
                    <fieldset>
                        <h2>
                            Elija un producto
                            <button id="botonAgregarProducto" type="button" class="btn btn btn-primary pull-right">Agregar <i class="fa fa-plus" aria-hidden="true"></i></button>
                        </h2>
                        <div class="row">
                            <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="tableProducts" class="display"></table>
                        </div>
                        <div class="row">
                            <div style="float: right; width: 30%;">
                                <div class="row">
                                    <p class="col-sm-8"><strong>Valor Venta</strong></p>
                                    <p id="venta" class="text-right col-sm-4">0</p>
                                </div>
                                <div class="row">
                                    <p class="col-sm-8"><strong>Valor Impuesto</strong></p>
                                    <p id="impuesto" class="text-right col-sm-4 labe-sum-underline">0</p>
                                </div>
                                <div class="row">
                                    <p class="col-sm-8"><strong>Valor Total</strong></p>
                                    <p id="totalValor" class="text-right col-sm-4">0</p>
                                </div>
                                <div class="row">
                                    <p class="col-sm-8"><strong>Importe Percepcion</strong></p>
                                    <p id="percepcionImport" class="text-right col-sm-4 labe-sum-underline">0</p>
                                </div>
                                <div class="row">
                                    <p class="col-sm-8"><strong>Total por Cobrar</strong></p>
                                    <p id="totalACobrar" class="text-right col-sm-4">0</p>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
            <div id="tab-4" class="tab-pane">
                <div class="panel-body">
                    <fieldset>
                        <h2>Resumen de la venta</h2>
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 50px;">
                            <div class="col-sm-4">
                                <button id="botonAgregarProducto" type="button" class="btn btn btn-primary form-separation-extra" data-toggle="modal" data-target="#modalProducto">Facturación Electrónica</button>
                            </div>
                            <div class="col-sm-4">
                                <button id="botonAgregarProducto" type="button" class="btn btn btn-primary form-separation-extra" data-toggle="modal" data-target="#modalProducto"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Generar PDF</button>
                            </div>
                            <div class="col-sm-4">
                                <button id="botonAgregarProducto" type="button" class="btn btn btn-primary form-separation-extra" data-toggle="modal" data-target="#modalProducto">Facturación Manual</button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal inmodal modal" id="modalCliente" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-new-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Clientes</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-8">
                        <label class="pull-left form-separation"> Filter </label>
                        <input type="text" class="form-control" id="filterInput">
                    </div>
                    <div class="col-sm-4">
                        <button id="btnFilter" type="button" class="btn btn btn-primary pull-right" style="margin-top: 34px;"> <i class="fa fa-search"></i> Buscar</button>
                    </div>
                </div>
                <div class="row">
                    <table id="seleccionarCliente" class="table table-striped table-bordered" cellspacing="0"></table>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modalClientOk" class="btn btn-white" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modalProducto" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-new-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Ingresar Producto</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table id="agregarProductoTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Concepto</th>
                                <th>Descripcion</th>
                                <th>Valor Unitario</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>3</td>
                                <td>Laptop</td>
                                <td>HP</td>
                                <td>61</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Laptop</td>
                                <td>Lenovo</td>
                                <td>45</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button id="botonProductoOk" class="btn btn-white" data-dismiss="modal">Aceptar</button>
                <button class="btn btn-white" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal modal" id="modalSeries" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-new-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Series</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-8">
                        <label class="pull-left form-separation"> Filter </label>
                        <input type="text" class="form-control" id="filterInputSerie">
                    </div>
                    <div class="col-sm-4">
                        <button id="btnFilterSerie" type="button" class="btn btn btn-primary pull-right" style="margin-top: 34px;"> <i class="fa fa-search"></i> Buscar</button>
                    </div>
                </div>
                <div class="row">
                    <table id="seleccionarSerie" class="table table-striped table-bordered" cellspacing="0"></table>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modalSerieOk" class="btn btn-white" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
